html,
#root {
  font-family: 'Poppins', sans-serif;
  background-color: #FFF;
  margin: 0;
  padding: 0;
  max-width: 600px;
}

body {
  margin: 0;
}

.navbar {
  text-align: left;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.navbar > .logo {
  width: 5.17em;
  height: auto;
  padding: 1em;
}

.banner {
  width: 395px;
  margin: 2em auto;
}

.hero-text {
  text-align: left;
  margin-left: 3em;
}

.blurb {
  width: 70%;
}

.card-visual {
  border-radius: 6px;
  width: 100%;
}

.price-from {
  font-weight: 600;
  font-size: 0.75rem;
}

.total-price {
  font-size: 0.75rem;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 175px;
  padding: 0.5em;
  position: relative;
}

/* Typography */
.hero-title {
  font-weight: 600;
  font-size: 2.25rem;
}

.card-title {
  font-size: 0.8rem;
  margin: 0 0.2em;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.3em;
  font-size: 0.75em;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  margin-left: 2em;
}

.red-star {
  height: 14px;
  margin-right: 0.3em;
}

.location {
  margin-left: 0.3em;
}

.card-seats {
  position: absolute;
    top: 0.7em;
    left: 0.7em;
    background-color: white;
    padding: 0.3em 0.4em;
    margin: 0.3em;
    border-radius: 2px;
    font-weight: 700;
    font-size: 0.8rem;
}